@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --cust-background: #ff0000;

    --orange: #EC5028;
    --dark-orange:#A44923;
    --dark-green:#22383D;
    --dark-grey:#242527;
    --light-grey:#F4F7FE;

  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --cust-background: #48ff00;
    --orange: #EC7823;
    --dark-orange:#A44923;
    --dark-green:#ffffff;
    --dark-grey:#6E6E6E;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.menu button:first-child{ padding-right: 0; border-right: 0; }
.menu button.active{ background-color: transparent;  margin: 0;  color: var(--orange); }
.logo img.logolight{ transition:0.3s ease-in-out; -webkit-transition:; -moz-transition:; -ms-transition:; -o-transition:; }
.sticky-menu .logo img.logolight{ display: none; transition:  0.3s ease-in-out; -webkit-transition:  0.3s ease-in-out; -moz-transition:  0.3s ease-in-out; -ms-transition:  0.3s ease-in-out; -o-transition:  0.3s ease-in-out;}

.logodark{ display: none; transition:  0.3s ease-in-out; -webkit-transition:  0.3s ease-in-out; -moz-transition:  0.3s ease-in-out; -ms-transition:  0.3s ease-in-out; -o-transition:  0.3s ease-in-out; }
.sticky-menu .logodark{ display: block; transition: 0.3s ease-in-out;position: relative; z-index: 11; }


.menu button.cta-button{ padding: 10px 20px; padding-right: 7px; border: solid 2px white; font-size: 16px;}
.cta-button span{background: linear-gradient(179deg,rgba(215, 66, 74, 1) 0%, rgba(240, 94, 41, 1) 100%);}
.icon-holder{background: linear-gradient(179deg,rgba(215, 66, 74, 1) 0%, rgba(240, 94, 41, 1) 100%);}

.sticky-menu .top-phone{ color: #242527;}
.sticky-menu .top-getstarted-button{ border-color: #242527!important; color: #242527;}
.sticky-menu .toggel-icon-img{ filter: invert(100%) sepia(100%) grayscale(100%) brightness(200%); }


.banner-section h2{ font-weight: 300;}

.banner-section p{font-weight: 200; letter-spacing: 1.5px;}


.herobanner:after {
    position: absolute;
    content: "";
    top: auto;
    left: -1px;
    right: 0;
    bottom: -65px;
    background-color: rgb(255 255 255);
    width: 106%;
    height: 104px;
    transform: rotate(358deg);
}

.logo-sec::after {
    position: absolute;
    content: "";
    top:0;
    left:0;
    background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    width:40%;
    height: 100%;
    z-index: 11;
}
.logo-sec::before {
    position: absolute;
    content: "";
    top:0;
    right:0;
    background: linear-gradient(270deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    width:40%;
    height: 100%;
    z-index: 11;
}

.imagecard:after{
  position:absolute;
  content: "";
  width: 100%;
  height: 100%;
  top:0;
  bottom: 0;
  left: 0;
  background: linear-gradient(360deg,rgba(10, 11, 12, 1) 0%, rgba(10, 11, 12, 0) 100%);
}
.subscrib-btn span{
  background-color: #22383D;
}

.cta-button:hover{
 border-color: #EC7823!important;
}
.cta-button:hover span{ background: #22383D;}
.cta-button.submit-button:hover {background: transparent!important;color: #EC7823!important;}
.cta-button.submit-button:hover span{ background: transparent!important; color: #EC7823!important;}

.introduction-section{ position: relative; background-image: url(/src/assets/image/gredient-bg.png);}
.introduction-section:after {
    position: absolute;
    content: "";
    top:0;
    left:0;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    width:100%;
    height: 30%;
    z-index: 11;
}

.banner-section{background-image: url(/src/assets/image/gredient-bg.png); background-size: cover; background-position: center; position: relative;}
.banner-section:after {
  position: absolute;
    content: "";
    bottom:0;
    left:0;
    background: linear-gradient(360deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    width:100%;
    height: 20%;
    z-index: 1;

}


.containers {
  margin-top: 10vh;
  min-height: 100vh;
}

/* BODY */
.containers .body {
  margin-left: 10vw;
}

.containers .body h1 {
  margin: 0px;
  margin-top: 10px;
  font-size: 5vw;
  line-height: 5vw;
  text-transform: uppercase;
}

.containers .body p {
  color: white;
  margin: 0px;
  margin-top: 10px;
  font-size: 3vw;
  text-transform: uppercase;
}

.containers .body p span {
  position: relative;
}

/* IMAGES */
.containers  .images {
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  margin-top: 5vh;
}

.containers .images .imageContainer {
  position: absolute;
}

.containers .images .imageContainer img {
  object-fit: cover;
}

/* IMAGE 1 */
.containers .images .imageContainer:nth-of-type(1) {
  height: 60vh;
  width: 50vh;
  z-index: 1;
}

/* IMAGE 2 */
.containers .images .imageContainer:nth-of-type(2) {
  left: 55vw;
  top: 15vh;
  height: 40vh;
  width: 30vh;
  z-index: 2;
}

/* IMAGE 3 */
.containers .images .imageContainer:nth-of-type(3) {
  left: 27.5vw;
  top: 40vh;
  height: 25vh;
  width: 20vh;
  z-index: 3;
}

.flotting-parallax-section{
  background-image: url(/src/assets/image/gredient-bg.png); background-size: cover; background-position: center; position: relative;
}

.flotting-parallax-section:after {
    position: absolute;
    content: "";
    top:0;
    left:0;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    width:100%;
    height: 30%;
    z-index: 1;
}
.flotting-parallax-section:before {
    position: absolute;
    content: "";
    bottom:0;
    left:0;
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    width:100%;
    height: 30%;
    z-index: 1;
}

.top-left {
  top:-3%;
  left: 18%;
}

.top-right {
  top: 0%;
  right: 2%;
}

.mid-left {
  top: 37%;
  left: 2%;
}

.mid-right {
  top: -3%;
  right: 18%;
}

.mid-center {
  top: 37%;
  right: 2%;
}

.bottom-center {
  bottom: -10%;
  left: 43%;
  transform: translateX(-50%);
  z-index:1111;
}

.bottom-left {
  bottom: 10%;
  left: 20%;
}

.bottom-right {
  bottom: 10%;
  right: 20%;
}

.muchmore-section{
  background-image: url(/src/assets/image/muchmore-bg.jpg); background-size: cover; background-position: center bottom; position: relative; repeat: no-repeat;
  position: absolute;bottom: 150px; left: 0; width: 100%; min-height: 890px; border-bottom-right-radius: 40px; border-bottom-left-radius: 40px;
}


.paragraph {
  display: flex;
  font-size: 60px;
  line-height: 1;
  padding: 40px;
  max-width: 1280px;
  color: white;
  flex-wrap: wrap;
}

.paragraph .word {
  position: relative;
  margin-right: 12px;
  margin-top: 12px;
}

.paragraph .word .shadow {
  position: absolute;
  opacity: 0.2; /* 20% */
}


.service-section{
  background-image: url(/src/assets/image/hero-bg-mid.jpg); background-size: cover; background-position: center center; position: relative; resize: none; repeat: no-repeat;
}

.service-section:after {
    position: absolute;
    content: "";
    top:0;
    left:0;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    width:100%;
    height: 30%;
    z-index: 1;
}

.service-section:before {
    position: absolute;
    content: "";
    bottom:0;
    left:0;
    background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    width:100%;
    height: 30%;
    z-index: 1;
}
._connectivity{
  background-image: url(/src/assets/image/hero-bg-bottom.jpg); background-size: cover; background-position: center center; position: relative; resize: none; repeat: no-repeat;
}
.bg-overlay{background: linear-gradient(179deg,rgba(255, 250, 246, 0) 0%, rgba(255, 250, 246, 1) 100%);}

.sticky-menu{backdrop-filter: blur(30px);
  background: rgba(255,255,255,0.05); border-bottom: 1px solid rgba(255,255,255,0.09);}

.sticky-menu .logo img.logodark{ width: 70px; transition: 0.3s ease-in-out; -webkit-transition: 0.3s ease-in-out; -moz-transition: 0.3s ease-in-out; -ms-transition: 0.3s ease-in-out; -o-transition: 0.3s ease-in-out; }

.contact-form-sec{
  background-image: url(/src/assets/image/hero-bg-footer.jpg); background-size: cover; background-position: center center; position: relative; resize: none; repeat: no-repeat;
  position: relative;
}
.contact-form-sec:after {
    position: absolute;
    content: "";
    top:0;
    left:0;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    width:100%;
    height: 30%;
    z-index: 1;
}

.footer-navbar{
  background-image: url(/src/assets/image/hero-bg-footer.jpg); background-size: cover; background-position: center center; position: relative; resize: none; repeat: no-repeat;
  position: relative;
}

.footer-navbar:after {
   position: absolute;
    content: "";
    top: -126px;
    left: 0;
    background: linear-gradient(179deg, rgba(255, 250, 246, 0) 0%, rgba(255, 250, 246, 1) 50%, rgba(255, 250, 246, 0) 100%);
    width: 100%;
    height: 43%;
    z-index: 0;
}

.bottom-content-footer:after{
    position: absolute;
    content: "";
    top: -8px;
    left: 0;
    background: #828282;
    width: 14px;
    height: 14px;
    z-index: 1;
    border: radius 50px; ;
    -webkit-border-radius:50px ;
    -moz-border-radius:50px ;
    -ms-border-radius:50px ;
    -o-border-radius:50px ;
}
.bottom-content-footer:before {
    position: absolute;
    content: "";
    top: -8px;
    right: 0;
    background: #828282;
    width: 14px;
    height: 14px;
    z-index: 1;
    border: radius 50px; ;
    -webkit-border-radius:50px ;
    -moz-border-radius:50px ;
    -ms-border-radius:50px ;
    -o-border-radius:50px ;
}

.left-bar:after , .right-bar:after{
    position: absolute;
    content: "";
    top: -6px;
    left: 0;
    background: #828282;
    width: 14px;
    height: 14px;
    z-index: 1;
    border: radius 50px; ;
    -webkit-border-radius:50px ;
    -moz-border-radius:50px ;
    -ms-border-radius:50px ;
    -o-border-radius:50px ;
}
.left-bar:before, .right-bar:before {
    position: absolute;
    content: "";
    top: -6px;
    right: 0;
    background: #828282;
    width: 14px;
    height: 14px;
    z-index: 1;
    border: radius 50px; ;
    -webkit-border-radius:50px ;
    -moz-border-radius:50px ;
    -ms-border-radius:50px ;
    -o-border-radius:50px ;
}


.contactWrapper {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Glassmorphism Form */

.glassForm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title{
  margin-bottom:30px;
  font-weight:600;
}

/* Input group */

.inputGroup{
  position:relative;
  margin-bottom:22px;
}
.inputGroup input{
  height: 50px;
}
.inputGroup input,
.inputGroup textarea{
  width:100%;
  padding:10px 15px;
  border:none;
  outline:none;
  background:transparent;
  color:rgb(20, 20, 20);
  font-size:16px;
  border:1px solid #E9E9E9;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  font-family: "Hanken Grotesk", sans-serif;

}
.inputGroup input:focus,
.inputGroup textarea:focus {
  border: 2px solid #404040;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color:transparent!important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* If value exists remove background */
.inputGroup input:not(:placeholder-shown),
.inputGroup textarea:not(:placeholder-shown) {
  background: transparent;
}
.inputGroup textarea{
  height: 203px; resize: none;
}

/* Floating label */

.inputGroup label{
  position:absolute;
  left:15px;
  top:10px;
  color:#ccc;
  font-size:16px;
  transition:0.3s;
  font-family: "Hanken Grotesk", sans-serif;
}

.inputGroup input:focus + label,
.inputGroup input:not(:placeholder-shown) + label,
.inputGroup textarea:focus + label,
.inputGroup textarea:not(:placeholder-shown) + label{
  top:-10px;
  font-size:14px;
  color:#0f0f0f;
  background-color: #fff;
  padding: 0 5px;
  font-family: "Hanken Grotesk", sans-serif;
}

/* Animated line */

/* .line{
  position:absolute;
  bottom:0;
  left:0;
  width:0%;
  height:2px;
  background:#ef5929;
  transition:0.4s;
} */

.inputGroup input:focus ~ .line,
.inputGroup textarea:focus ~ .line{
  width:100%;
}


/* Error */

.error{
  color:#ff8080;
  font-size:12px;
  margin-top:5px;
}

/* Success message */

.success{
  margin-top:20px;
  padding:10px;
  background:#87ac4e;
  color:#000;
  border-radius:8px;
  text-align:center;
  font-weight:500;
}
